<!DOCTYPE html>
<html>
<head>
    <title>NEW FILE</title>
</head>
<body style="background-color:silver">
	<H1 STYLE="color:red;background-color:grey;text-align:center">
	MY NEW PROJECT
	</H1>
<p style="color:green; font-family:Times New Roman; font-size:12;text-align:left">
    <b>Lorem Ipsum</b> is </i>simply dummy text of the printing and typesetting industry.</i> <br>
    <strong>Lorem Ipsum has been the industry's standard dummy text </strong> ever since the 1500s,<br>
    when an unknown <mark>printer took a galley of type</mark> and scrambled it to make a type specimen book.<br>
    It has survived not only five centuries, but also the leap into electronic typesetting,<br>
    <em>remaining essentially unchanged</em>. <small>It was popularised in the</small> 1960s with the release of Letraset<br>
    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like <br>
    <sub>Aldus</sub> PageMaker <sup>including</sup> versions of <del>Lorem Ipsum</del> <ins> new text</ins>.
</p>

</body>
</html>